body{
    background-color: black
}
.pisteet{
    font-size: 16px;
    text-align: center;
    margin: auto;
    padding: 20px;
    color:white  ;
}

.pelialue{/*Pelialueen koko + ulkonäkö*/
    height: 500px;
    width: 800px;
    margin: auto;
    top:10px;
    right:10px;
    bottom: 10px;
    left: 10px;
    position: absolute;
    background-color: #262629;
}ss
