/* Popupin tausta */
.popup1 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

/* Modal Content/Box */
.popup-sisalto {
  background-color: #fefefe;
  margin: 5px auto;
  border: 1px solid #888;
  width: 80%;
}

/* x nappula*/
.sulje {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* x nappulaan lis채채 */
.sulje:hover,
.sulje:focus {
  color: red;
  cursor: pointer;
}

/* Lis채채 animaation */
.animoi{
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}